
.bulb-on {
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 50%;
  }
.bulb-off {
    width: 100px;
    height: 100px;
    background-color: gray;
    border-radius: 50%;
  }